@import "../../../styles/config";

.wrapper {
  padding-left: 16px;
  position: relative;
}
.valueInput {
  width: 77%;
  height: 100%;
  border: none;
  outline: none;
}

.clear,
.loading {
  position: absolute;
  border: none;
  outline: none;
  background-color: white;
  right: 140px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(7, 8, 14, 0.34);
}
.loading {
  animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
.search-result {
  width: 610px;
}
