.container-forgot{
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-forgot-form{
  padding: 50px 80px 50px 50px;
  border: 5px solid #1890ff;
 
}