@media (max-width: 576px) {
  .fb-customerchat {
    display: none;
  }
}
/*.zalo-chat-widget {*/
/*    left: 0!important;*/
/*}*/
.zalome {
  position: fixed;
  bottom: 70px;
  right: 10px;
  margin: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #004a7f;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: -10px -10px;
  text-align: center;
  text-decoration: none;
}
@-webkit-keyframes glowing {
  0% {
    background-color: #004a7f;
    -webkit-box-shadow: 0 0 3px #004a7f;
  }
  50% {
    background-color: #0094ff;
    -webkit-box-shadow: 0 0 10px #0094ff;
  }
  100% {
    background-color: #004a7f;
    -webkit-box-shadow: 0 0 3px #004a7f;
  }
}
@-moz-keyframes glowing {
  0% {
    background-color: #004a7f;
    -moz-box-shadow: 0 0 3px #004a7f;
  }
  50% {
    background-color: #0094ff;
    -moz-box-shadow: 0 0 10px #0094ff;
  }
  100% {
    background-color: #004a7f;
    -moz-box-shadow: 0 0 3px #004a7f;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #004a7f;
    box-shadow: 0 0 3px #004a7f;
  }
  50% {
    background-color: #0094ff;
    box-shadow: 0 0 10px #0094ff;
  }
  100% {
    background-color: #004a7f;
    box-shadow: 0 0 3px #004a7f;
  }
}
@keyframes glowing {
  0% {
    background-color: #004a7f;
    box-shadow: 0 0 3px #004a7f;
  }
  50% {
    background-color: #0094ff;
    box-shadow: 0 0 10px #0094ff;
  }
  100% {
    background-color: #004a7f;
    box-shadow: 0 0 3px #004a7f;
  }
}
.zalome {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
